body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

img.icon {
	width: 50%;
	max-width: 300px;
	min-width: 76px;
}

img.screenshot {
	width: 75%;
	max-width: 300px;
	min-width: 60px;
}

img.app-store-button {
	margin-top: 10px;
}